<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Nathalie Giancaspro">
  <meta name="description"
    content="MeinOrganizer - mit dieser Web App kannst du Listen erstellen, Notizen festhalten, Budgets verwalten, Projekte organisieren, Termine in den Kalender eintragen und deine Produktivität steigern mit dem Pomodoro Fokus-Timer.">
  <meta property="og:title" content="MeinOrganizer - Vereinfache dein Leben und bleibe organisiert">
  <meta property="og:type" content="website">
  <meta property="og:description"
    content="MeinOrganizer - mit dieser Web App kannst du Listen erstellen, Notizen festhalten, Budgets verwalten, Projekte organisieren, Termine in den Kalender eintragen und deine Produktivität steigern mit dem Pomodoro Fokus-Timer.">
  <meta property="og:url" content="https://meinorganizer.app">
  <meta property="og:image" content="https://meinorganizer.app/images/MeinOrganizer_Logo.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">
  <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#03dac5">
  <meta name="msapplication-TileColor" content="#121212">
  <meta name="theme-color" content="#121212">
  <meta name="apple-mobile-web-app-title" content="https://meinorganizer.app">
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="application-name" content="MeinOrganizer">
  <link rel="stylesheet" href="../CSS/style.css">
  <title>Liste: <%= foundList.name %></title>
</head>

<body>

  <div class="main-layout">

    <%- include("../partials/header") %>

    <main>
      <div class="container">

        <!-- flash message -->
        <% if(error && error.length) {%>
        <div class="alert alert-error" role="alert">
          <%= error %>
        </div>
        <% } else if(success && success.length){ %>
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
        <% } %>

        <div class="wrapper medium-dark-wrapper">

          <!-- TOOLBAR MENU -->
            <div class="dropleft flex-right" data-dropleft>
              <!-- Toolbar Menu Button -->
              <button class="delete-edit-btn" data-dropleft-button>
                <div class="dropleft-icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 20 20">
                  <path fill="currentColor"
                    d="M12 16a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2a2 2 0 0 1 2-2m0-6a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2a2 2 0 0 1 2-2m0-6a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2a2 2 0 0 1 2-2" />
                </svg>
              </div>
              </button>              
              <!-- Toolbar Menu List -->
              <ul class="dropleft-menu">
                <!-- Edit List Button -->
                <li class="dropleft-menu-item">
                  <a href="/listen/<%=foundList._id%>/bearbeiten" class="delete-edit-btn"
                    aria-label="Liste bearbeiten" title="Liste bearbeiten"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                      <path fill="currentColor"
                        d="m14.06 9l.94.94L5.92 19H5v-.92L14.06 9m3.6-6c-.25 0-.51.1-.7.29l-1.83 1.83l3.75 3.75l1.83-1.83c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29m-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75Z" />
                    </svg>
                    <span>Liste bearbeiten</span>
                  </a>
                </li>
              </ul>
            </div>
  

          <h1 class="subtitle-specific">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="inline-block-svg"
              id="list-icon">
              <path fill="<%=foundList.color%>"
                d="M4 10.5c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5s1.5-.67 1.5-1.5s-.67-1.5-1.5-1.5zm0-6c-.83 0-1.5.67-1.5 1.5S3.17 7.5 4 7.5S5.5 6.83 5.5 6S4.83 4.5 4 4.5zm0 12c-.83 0-1.5.68-1.5 1.5s.68 1.5 1.5 1.5s1.5-.68 1.5-1.5s-.67-1.5-1.5-1.5zM7 19h14v-2H7v2zm0-6h14v-2H7v2zm0-8v2h14V5H7z">
              </path>
            </svg>
            <%= foundList.name %>
          </h1>


          <div class="add-item-container">

            <div class="flex-center">
            <button class="round-btn mb-1" id="add-item-btn" aria-label="hinzufügen"><svg xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" viewBox="0 0 20 20">
                <path fill="currentColor"
                  d="M11 9V5H9v4H5v2h4v4h2v-4h4V9h-4zm-1 11a10 10 0 1 1 0-20a10 10 0 0 1 0 20z" />
              </svg>Eintrag hinzufügen</button>
            </div>

              <div class="new-item-container">
                <form action="/listen/<%= foundList._id %>" method="POST">
                <input type="text" name="text" placeholder="Hier eingeben..." class="input" required>
                <button type="submit" class="rectangle-btn submit-btn">
                  <span class="button-text">Hinzufügen</span>
                </button>
                </form>
                <button class="rectangle-secondary-btn mt-1" aria-label="abbrechen"
                onclick="closeInputForm()">Abbrechen</button>
              </div>

          </div>

          <ul class="items-ul mb-2">
            <% foundList.items.forEach((item) => { %>
            <div class="listen-item">
              <li class="overflow-wrap-anywhere"><%= item.text %></li>
              <form action="/listen/<%=foundList._id%>/items/<%=item._id%>?_method=DELETE" method="POST" class="flex">
                <button type="submit" class="delete-edit-btn submit-btn" aria-label="Eintrag löschen" title="Eintrag löschen"><svg
                    xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" class="button-text">
                    <path fill="currentColor"
                      d="M7 21q-.825 0-1.413-.588T5 19V6q-.425 0-.713-.288T4 5q0-.425.288-.713T5 4h4q0-.425.288-.713T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5q0 .425-.288.713T19 6v13q0 .825-.588 1.413T17 21H7Zm5-7.1l1.9 1.9q.275.275.7.275t.7-.275q.275-.275.275-.7t-.275-.7l-1.9-1.9l1.9-1.9q.275-.275.275-.7t-.275-.7q-.275-.275-.7-.275t-.7.275L12 11.1l-1.9-1.9q-.275-.275-.7-.275t-.7.275q-.275.275-.275.7t.275.7l1.9 1.9l-1.9 1.9q-.275.275-.275.7t.275.7q.275.275.7.275t.7-.275l1.9-1.9Z" />
                  </svg>
                </button>
              </form>
            </div>
            <% }); %>
          </ul>

        </div>

        <div class="text-center">
          <a href="/listen" class="page-navigation-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              viewBox="0 0 24 24" class="page-navigation-svg">
              <g transform="rotate(180 12 12)">
                <path fill="currentColor" d="M8.59 16.58L13.17 12L8.59 7.41L10 6l6 6l-6 6l-1.41-1.42Z" />
              </g>
            </svg>Alle Listen</a>
        </div>

    </main>




    <%- include("../partials/footer") %>
  </div>

  <script src="/JS/loadingSpinner.js"></script>
  <script src="/JS/displayItemInput.js"></script>
  <script src="/JS/dropleftMenu.js"></script>
</body>

</html>