<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Nathalie Giancaspro">
  <meta name="description"
    content="MyOrganizer - mit dieser Web App kannst du Listen erstellen, Notizen festhalten, Budgets verwalten, Projekte organisieren, Termine in den Kalender eintragen und deine Produktivität steigern mit dem Pomodoro Fokus-Timer.">
  <meta property="og:title" content="MyOrganizer - Vereinfache dein Leben und bleibe organisiert">
  <meta property="og:type" content="website">
  <meta property="og:description"
    content="MyOrganizer - mit dieser Web App kannst du Listen erstellen, Notizen festhalten, Budgets verwalten, Projekte organisieren, Termine in den Kalender eintragen und deine Produktivität steigern mit dem Pomodoro Fokus-Timer.">
  <meta property="og:url" content="https://myorganizer-05d65e8dd322.herokuapp.com">
  <meta property="og:image" content="https://myorganizer-05d65e8dd322.herokuapp.com/images/MyOrganizer_Logo.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#03dac5">
  <meta name="msapplication-TileColor" content="#121212">
  <meta name="theme-color" content="#121212">
  <meta name="apple-mobile-web-app-title" content="https://myorganizer-05d65e8dd322.herokuapp.com">
  <meta name="application-name" content="MyOrganizer">
  <link rel="stylesheet" href="../CSS/style.css">
  <title>Notiz suchen</title>
</head>

<body>

  <div class="main-layout">

    <%- include("../partials/header") %>

    <main>
      <div class="container">

        <!-- flash message -->
        <% if(error && error.length) {%>
        <div class="alert alert-error" role="alert">
          <%= error %>
        </div>
        <% } else if(success && success.length){ %>
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
        <% } %>

        <h1 class="subtitle">Suchergebnisse</h1>

        <!-- Searchbar -->
        <form action="/notizen/suchen" role="search" method="POST">
          <label for="searchbar">
            <input type="search" name="searchTerm" id="searchbar" placeholder="Suchen..." autofocus
              class="search-input container" aria-label="Search">
          </label>
        </form>

        <div class="notes-container mt-2">
          <% if(searchResults.length > 0) { %>
          <% searchResults.forEach(result => { %>
          <a href="/notizen/<%=result._id %>" class="note-link">
            <div class="note-wrapper">
              <h2 class="subtitle-specific-notcentered"><%= result.title %></h2>
              <p class="formatted-textarea"><%= result.body %></p>
            </div>
          </a>
          <% }) %>
          <% } else { %>
          <p>Keine Resultate für diesen Suchbegriff gefunden.</p>
          <% } %>
        </div>

        <div class="text-center mt-1">
          <a href="/notizen" class="page-navigation-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"
              class="inline-block-svg">
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
                d="M328 112L184 256l144 144" />
            </svg>Alle Notizen</a>
        </div>
      </div>
    </main>

    <%- include("../partials/footer") %>
  </div>

</body>

</html>