<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/style.css">
  <title><%= foundNote.title %></title>
</head>

<body>

  <div class="main-layout">

    <%- include("../partials/header") %>

    <main>
      <div class="container">
        <% if(error && error.length) {%>
          <div class="alert alert-error" role="alert">
          <%= error %>
        </div>
        <% } %>

        <div class="wrapper medium-dark-wrapper">

         <h1 class="subtitle-specific-notcentered"><%= foundNote.title %></h1>
          <p><%= foundNote.body %></p>

          <div class="listen-buttons-wrapper mt-1">
            <form action="/notizen/<%= foundNote._id%>?_method=DELETE" method="POST" class="flex">
              <button class="delete-edit-btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24">
                  <path fill="currentColor"
                    d="M7 21q-.825 0-1.413-.588T5 19V6q-.425 0-.713-.288T4 5q0-.425.288-.713T5 4h4q0-.425.288-.713T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5q0 .425-.288.713T19 6v13q0 .825-.588 1.413T17 21H7Zm5-7.1l1.9 1.9q.275.275.7.275t.7-.275q.275-.275.275-.7t-.275-.7l-1.9-1.9l1.9-1.9q.275-.275.275-.7t-.275-.7q-.275-.275-.7-.275t-.7.275L12 11.1l-1.9-1.9q-.275-.275-.7-.275t-.7.275q-.275.275-.275.7t.275.7l1.9 1.9l-1.9 1.9q-.275.275-.275.7t.275.7q.275.275.7.275t.7-.275l1.9-1.9Z" />
                </svg></button>
            </form>

            <button class="delete-edit-btn inline-block-svg">
              <a href="/notizen/<%=foundNote._id%>/bearbeiten">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path fill="currentColor"
                    d="m14.06 9l.94.94L5.92 19H5v-.92L14.06 9m3.6-6c-.25 0-.51.1-.7.29l-1.83 1.83l3.75 3.75l1.83-1.83c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29m-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75Z" />
                </svg></a>
            </button>
          </div>
      
        </div>
        <a href="/notizen" class="page-navigation-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512" class="link-svg"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>Alle Notizen</a>
      </div>
    </main>


  

    <%- include("../partials/footer") %>
  </div>

  <script src="/JS/displayItemInput.js"></script>
</body>

</html>