<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/style.css">
  <title><%= foundNote.title %></title>
</head>

<body>

  <div class="main-layout">

    <%- include("../partials/header") %>

    <main>
      <div class="container">
        <% if(error && error.length) {%>
        <div class="alert alert-error" role="alert">
          <%= error %>
        </div>
        <% } %>

        <div class="wrapper medium-dark-wrapper">
          <h1 class="subtitle">Notiz bearbeiten</h1>

          <form action="/notizen/<%=foundNote._id%>?_method=PUT" method="POST">

            <label for="title">
            <input type="title" id="title" name="title" placeholder="Titel" class="input subtitle-specific-notcentered"
              value="<%=foundNote.title%>" required>
            </label>

            <label for="body">
            <textarea name="body" id="body" cols="50" rows="10" placeholder="Text hier eingeben..."
              class="input textarea" required><%=foundNote.body %></textarea>
            </label>

            <button class="rectangle-btn">Speichern</button>
          </form>

          <form action="/notizen/<%= foundNote._id%>?_method=DELETE" method="POST" >
            <button class="rectangle-secondary-btn">Notiz löschen</button>
          </form>


        </div>
        <div class="text-center">
        <a href="/notizen" class="page-navigation-link">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 512 512" class="link-svg">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
              d="M328 112L184 256l144 144" />
          </svg>Alle Notizen</a>
        </div>
      </div>
    </main>




    <%- include("../partials/footer") %>
  </div>


</body>

</html>