<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/style.css">
  <title>Notizen: <%= foundNote.title %></title>
</head>

<body>

  <div class="main-layout">

    <%- include("../partials/header") %>

    <main>
      <div class="container">

        <!-- flash message -->
        <% if(error && error.length) {%>
        <div class="alert alert-error" role="alert">
          <%= error %>
        </div>
        <% } else if(success){ %>
        <div class="" role="alert">
          <%= success %>
        </div>
        <% } %>

        <div class="wrapper medium-dark-wrapper">

          <form action="/notizen/<%= foundNote._id%>?_method=DELETE" method="POST" class="flex-right">
            <button class="delete-edit-btn" title="Notiz löschen"><svg xmlns="http://www.w3.org/2000/svg"
              width="24" height="24" viewBox="0 0 24 24" class="inline-svg">
              <path fill="currentColor"
                d="M7 21q-.825 0-1.413-.588T5 19V6q-.425 0-.713-.288T4 5q0-.425.288-.713T5 4h4q0-.425.288-.713T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5q0 .425-.288.713T19 6v13q0 .825-.588 1.413T17 21H7Zm5-7.1l1.9 1.9q.275.275.7.275t.7-.275q.275-.275.275-.7t-.275-.7l-1.9-1.9l1.9-1.9q.275-.275.275-.7t-.275-.7q-.275-.275-.7-.275t-.7.275L12 11.1l-1.9-1.9q-.275-.275-.7-.275t-.7.275q-.275.275-.275.7t.275.7l1.9 1.9l-1.9 1.9q-.275.275-.275.7t.275.7q.275.275.7.275t.7-.275l1.9-1.9Z" />
            </svg></button>
          </form>

          <h1 class="subtitle">Notiz bearbeiten</h1>

          <form action="/notizen/<%=foundNote._id%>?_method=PUT" method="POST">

            <label for="title">
              <input type="title" id="title" name="title" placeholder="Titel hier eingeben..."
                class="card-input bold" value="<%=foundNote.title%>" required>
            </label>

            <label for="body">
              <textarea name="body" id="body" cols="50" rows="10" placeholder="Notiz hier eingeben..."
                class="card-input textarea" required><%=foundNote.body %></textarea>
            </label>

            <button class="rectangle-btn mb-1">Speichern</button>
            <a href="/notizen" class="rectangle-secondary-btn width-100 mb-1">Abbrechen</a>
          </form>

        </div>

        <div class="text-center">
          <a href="/notizen" class="page-navigation-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"
              class="inline-block-svg">
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
                d="M328 112L184 256l144 144" />
            </svg>Alle Notizen</a>
        </div>
      </div>
    </main>




    <%- include("../partials/footer") %>
  </div>


</body>

</html>