<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/style.css">
  <title><%= foundNote.title %></title>
</head>

<body>

  <div class="main-layout">

    <%- include("../partials/header") %>

    <main>
      <div class="container">
        <% if(error && error.length) {%>
          <div class="alert alert-error" role="alert">
          <%= error %>
        </div>
        <% } %>

        <div class="wrapper medium-dark-wrapper">

    

          <h1 class="subtitle-specific-notcentered"><%= foundNote.title %></h1>

          <p><%= foundNote.body %></p>
      

        </div>
        <a href="/notizen" class="page-navigation-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512" class="link-svg"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>Alle Notizen</a>
      </div>
    </main>


  

    <%- include("../partials/footer") %>
  </div>

  <script src="/JS/displayItemInput.js"></script>
</body>

</html>