<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/style.css">
  <title>Projekt bearbeiten</title>
</head>

<body>

  <div class="main-layout">

    <%- include("../partials/header") %>

    <main>
      <div class="container">
 
          <% if(error && error.length) {%>
            <div class="alert alert-error" role="alert">
            <%= error %>
          </div>
          <% } %>

        <div class="wrapper medium-dark-wrapper">
          <h1 class="subtitle">Projekt bearbeiten</h1>

          <form action="/projekte/<%=foundProject._id%>?_method=PUT" method="POST">

            <label for="listname">
              <input type="text" name="name" id="listname" placeholder="Neuer Listenname" class="card-input bold" value="<%=foundProject.name%>" autofocus required>
            </label>

            <label for="projectdescription">
            <textarea name="description" id="projectdescription" cols="50" rows="5" placeholder="Text hier eingeben..." class="card-input textarea"><%=foundProject.description%></textarea>
          </label>

            <fieldset class="color-options-wrapper">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
              class="inline-block-svg list-icon" id="list-icon">
              <path fill="<%=foundProject.color%>" d="M10 4H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-8l-2-2Z"></path>
            </svg>
              <legend class="mb-1 text-center">Wähle eine Farbe:</legend>
              <div class="color-options-color-wrapper">
                <label class="color-option" >
                  <input type="radio" name="color" value="#F9F871" hidden>
                  <div class="color-option comp-color-one"></div>
                </label>
                <label class="color-option">
                  <input type="radio" name="color" value="#fda76d" hidden>
                  <div class="color-option comp-color-two"></div>
                </label>
                <label class="color-option">
                  <input type="radio" name="color" value="#6ae79c" hidden>
                  <div class="color-option comp-color-three"></div>
                </label>
                <label class="color-option">
                  <input type="radio" name="color" value="#3a9ddf" hidden>
                  <div class="color-option comp-color-four"></div>
                </label>
              </div>
            </fieldset>

            <button class="rectangle-btn mb-1">Speichern</button>
            <a href="/projekte" class="rectangle-secondary-btn width-100">Abbrechen</a>
          </form>
        </div>

    
    </main>

    <%- include("../partials/footer") %>
  </div>

  <script src="/JS/updateSVGColor.js"></script>
</body>

</html>
