<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/style.css">
  <title><%= foundProject.name %> Aufgaben</title>
</head>

<body>

  <div class="main-layout">

    <%- include("../partials/header") %>

    <main>
      <div class="container">
        <% if(error && error.length) {%>
        <div class="alert alert-error" role="alert">
          <%= error %>
        </div>
        <% } %>

        <div class="wrapper medium-dark-wrapper">

          <h1 class="subtitle-specific">Aufgaben</h1>

          <div class="add-item-container">

            <!-- Button to open "Add Todo" form -->
            <button class="round-btn" id="add-todo-btn"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                viewBox="0 0 20 20">
                <path fill="currentColor"
                  d="M11 9V5H9v4H5v2h4v4h2v-4h4V9h-4zm-1 11a10 10 0 1 1 0-20a10 10 0 0 1 0 20z" />
              </svg></button>

            <!-- Add Todo form -->
            <form action="/projekte/<%= foundProject._id %>/aufgaben" method="POST" autocomplete="off">
              <div class="new-item-container">
                <input type="text" name="text" id="todo-input" placeholder="Aufgabe hier eingeben..." class="input"
                  required>
                <button class="rectangle-btn">Hinzufügen</button>
              </div>
            </form>

          </div>

          <ul class="items-ul">
            <% foundProject.todos.forEach((todo) => { %>
            <div class="listen-item">
              <li class="<%= todo.completed ? "completed" : "" %>">
                <label for="todo-checkbox-<%=todo._id %>" class="checkbox-label">
                <input type="checkbox" id="todo-checkbox-<%=todo._id %>" class="todo-checkbox" <% if (todo.completed) { %> checked <% } %> onchange="toggleCompleted('<%= foundProject._id %>', '<%= todo._id %>')"/>
                <span class="custom-checkbox"></span>
                <span class="todo-text"><%= todo.text %></span>
              </label>
              </li>
              <!-- delete Todo button -->
              <form action="/projekte/<%=foundProject._id%>/aufgaben/<%=todo._id%>?_method=DELETE" method="POST"
                class="flex">
                <button class="delete-edit-btn"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                    viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M7 21q-.825 0-1.413-.588T5 19V6q-.425 0-.713-.288T4 5q0-.425.288-.713T5 4h4q0-.425.288-.713T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5q0 .425-.288.713T19 6v13q0 .825-.588 1.413T17 21H7Zm5-7.1l1.9 1.9q.275.275.7.275t.7-.275q.275-.275.275-.7t-.275-.7l-1.9-1.9l1.9-1.9q.275-.275.275-.7t-.275-.7q-.275-.275-.7-.275t-.7.275L12 11.1l-1.9-1.9q-.275-.275-.7-.275t-.7.275q-.275.275-.275.7t.275.7l1.9 1.9l-1.9 1.9q-.275.275-.275.7t.275.7q.275.275.7.275t.7-.275l1.9-1.9Z" />
                  </svg>
                </button>
              </form>
            </div>
            <% }); %>
          </ul>

        </div>

        <div class="text-center">
          <a href="/projekte/<%=foundProject._id%>" class="page-navigation-link"><svg xmlns="http://www.w3.org/2000/svg"
              width="24" height="24" viewBox="0 0 512 512" class="inline-block-svg">
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
                d="M328 112L184 256l144 144" />
            </svg>Projekt</a>
        </div>

    </main>

    <%- include("../partials/footer") %>
  </div>

  <script src="/JS/handleToDos.js"></script>
</body>

</html>