<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/style.css">
  <title><%= foundProject.name %></title>
</head>

<body>

  <div class="main-layout">

    <%- include("../partials/header") %>

    <main>
      <div class="container">
        <% if(error && error.length) {%>
        <div class="alert alert-error" role="alert">
          <%= error %>
        </div>
        <% } %>


        <section class="wrapper medium-dark-wrapper">
          <!-- Edit project button -->
          <a href="/projekte/<%=foundProject._id%>/bearbeiten" class="delete-edit-btn flex-right">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="m14.06 9l.94.94L5.92 19H5v-.92L14.06 9m3.6-6c-.25 0-.51.1-.7.29l-1.83 1.83l3.75 3.75l1.83-1.83c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29m-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75Z" />
            </svg></a>

          <!-- Title -->
          <h1 class="subtitle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="inline-block-svg">
              <path fill="<%= foundProject.color %>"
                d="M10 4H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-8l-2-2Z"></path>
            </svg>&nbsp
            <%= foundProject.name %>
          </h1>

          <!-- Project infos -->
          <div class="project-wrapper">
            <p><%= foundProject.description %></p>
          </div>
        </section>

        <!-- TODOS -->
        <section class="wrapper medium-dark-wrapper">
          <h1 class="subtitle-specific">Aufgaben</h1>
  
            <div class="add-item-container">
                <!-- Button to open "Add Todo" form -->
              <button class="round-btn" id="add-todo-btn"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                  viewBox="0 0 20 20">
                  <path fill="currentColor"
                    d="M11 9V5H9v4H5v2h4v4h2v-4h4V9h-4zm-1 11a10 10 0 1 1 0-20a10 10 0 0 1 0 20z" />
                </svg></button>
  
              <!-- Add Todo form -->
              <form action="/projekte/<%= foundProject._id %>/aufgaben" method="POST" autocomplete="off">
                <div class="new-item-container">
                  <input type="text" name="text" id="todo-input" placeholder="Aufgabe hier eingeben..." class="input"
                    required>
                  <button class="rectangle-btn">Hinzufügen</button>
                </div>
              </form>
            </div>
  
            <ul class="items-ul">
              <% foundProject.todos.forEach((todo) => { %>
              <div class="listen-item">
                <li class="<%= todo.completed ? "completed" : "" %>">
                  <label for="todo-checkbox-<%=todo._id %>" class="checkbox-label">
                  <input type="checkbox" id="todo-checkbox-<%=todo._id %>" class="todo-checkbox" <% if (todo.completed) { %> checked <% } %> onchange="toggleCompleted('<%= foundProject._id %>', '<%= todo._id %>')"/>
                  <span class="custom-checkbox"></span>
                  <span class="todo-text"><%= todo.text %></span>
                </label>
                </li>
                <!-- delete Todo button -->
                <form action="/projekte/<%=foundProject._id%>/aufgaben/<%=todo._id%>?_method=DELETE" method="POST"
                  class="flex">
                  <button class="delete-edit-btn"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                      viewBox="0 0 24 24">
                      <path fill="currentColor"
                        d="M7 21q-.825 0-1.413-.588T5 19V6q-.425 0-.713-.288T4 5q0-.425.288-.713T5 4h4q0-.425.288-.713T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5q0 .425-.288.713T19 6v13q0 .825-.588 1.413T17 21H7Zm5-7.1l1.9 1.9q.275.275.7.275t.7-.275q.275-.275.275-.7t-.275-.7l-1.9-1.9l1.9-1.9q.275-.275.275-.7t-.275-.7q-.275-.275-.7-.275t-.7.275L12 11.1l-1.9-1.9q-.275-.275-.7-.275t-.7.275q-.275.275-.275.7t.275.7l1.9 1.9l-1.9 1.9q-.275.275-.275.7t.275.7q.275.275.7.275t.7-.275l1.9-1.9Z" />
                    </svg>
                  </button>
                </form>
              </div>
              <% }); %>
            </ul>
        </section>












             <!-- Budget -->
             <div>
              <a href="#" class="round-with-text-btn mb-05"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 20 20">
                  <path fill="currentColor" d="M11 9V5H9v4H5v2h4v4h2v-4h4V9h-4zm-1 11a10 10 0 1 1 0-20a10 10 0 0 1 0 20z">
                  </path>
                </svg>Budget hinzufügen</a>
            </div>

        <!-- back button-->
        <div class="text-center">
          <a href="/projekte" class="page-navigation-link"><svg xmlns="http://www.w3.org/2000/svg" width="24"
              height="24" viewBox="0 0 24 24" class="inline-block-svg">
              <g transform="rotate(180 12 12)">
                <path fill="currentColor" d="M8.59 16.58L13.17 12L8.59 7.41L10 6l6 6l-6 6l-1.41-1.42Z" />
              </g>
            </svg>Projektübersicht</a>
        </div>

    </main>




    <%- include("../partials/footer") %>
  </div>

  <script src="/JS/handleToDos.js"></script>
</body>

</html>