<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Nathalie Giancaspro">
  <meta name="description"
    content="MyOrganizer - mit dieser Web App kannst du Listen erstellen, Notizen festhalten, Budgets verwalten, Projekte organisieren, Termine in den Kalender eintragen und deine Produktivität steigern mit dem Pomodoro Fokus-Timer.">
  <meta property="og:title" content="MyOrganizer - Vereinfache dein Leben und bleibe organisiert">
  <meta property="og:type" content="website">
  <meta property="og:description"
    content="MyOrganizer - mit dieser Web App kannst du Listen erstellen, Notizen festhalten, Budgets verwalten, Projekte organisieren, Termine in den Kalender eintragen und deine Produktivität steigern mit dem Pomodoro Fokus-Timer.">
  <meta property="og:url" content="https://myorganizer-05d65e8dd322.herokuapp.com">
  <meta property="og:image" content="https://myorganizer-05d65e8dd322.herokuapp.com/images/MyOrganizer_Logo.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#03dac5">
  <meta name="msapplication-TileColor" content="#121212">
  <meta name="theme-color" content="#121212">
  <meta name="apple-mobile-web-app-title" content="https://myorganizer-05d65e8dd322.herokuapp.com">
  <meta name="application-name" content="MyOrganizer">
  <link rel="stylesheet" href="../CSS/style.css">
  <title>Projekt: <%= foundProject.name %></title>
</head>

<body>

  <div class="main-layout">

    <%- include("../partials/header") %>

    <main>
      <div class="container">

        <!-- flash message -->
        <% if(error && error.length) {%>
        <div class="alert alert-error" role="alert">
          <%= error %>
        </div>
        <% } else if(success){ %>
        <div class="" role="alert">
          <%= success %>
        </div>
        <% } %>

        <h1 class="project-title text-center"><%= foundProject.name %></h1>

        <!-- PROJECT NAVIGATIONS -->
        <nav class="project-nav-header">
          <ul class="project-nav">
            <li><a href="#todo-section">Aufgaben</a><br>
              offen: <span id="open-count"><%= openCount %></span> / erledigt: <span
                id="completed-count"><%= completedCount %></span></li>
            <li><a href="#budget-section">Budget</a><br>
              <% if(foundProject.projectbudget) {%>
              <span id="current-budget">Aktuell: CHF
                <%=foundProject.projectbudget.remainingProjectBudget.toFixed(2) %></span>
            </li>
            <% } else { %>
            <span id="current-budget">kein Budget vorhanden</span>
            <% } %>
          </ul>
        </nav>

        <!-- PROJECT INFOS -->
        <section class="wrapper medium-dark-wrapper">
          <!-- Edit project button -->
          <a href="/projekte/<%=foundProject._id%>/bearbeiten" class="delete-edit-btn flex-right">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="m14.06 9l.94.94L5.92 19H5v-.92L14.06 9m3.6-6c-.25 0-.51.1-.7.29l-1.83 1.83l3.75 3.75l1.83-1.83c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29m-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75Z" />
            </svg></a>
          <h2 class="subtitle-specific">Notizen</h2>
          <div class="project-info-wrapper">

            <!-- Project infos -->
            <div class="project-wrapper">
              <p class="formatted-textarea"><%= foundProject.description %></p>
            </div>
          </div>

        </section>

        <!-- TODOS -->
        <section class="wrapper medium-dark-wrapper" id="todo-section">
          <h2 class="subtitle-specific">Aufgaben</h2>

          <div class="add-item-container">
            <!-- Button to open "Add Todo" form -->
            <button class="round-btn" id="add-todo-btn" aria-label="Aufgabe hinzufügen"><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 20">
                <path fill="currentColor"
                  d="M11 9V5H9v4H5v2h4v4h2v-4h4V9h-4zm-1 11a10 10 0 1 1 0-20a10 10 0 0 1 0 20z" />
              </svg>Aufgabe hinzufügen</button>

            <!-- Add Todo form -->
            <div class="new-item-container">
              <form action="/projekte/<%= foundProject._id %>/aufgaben" method="POST">
                <input type="text" name="text" id="todo-input" placeholder="Aufgabe hier eingeben..." class="input"
                  required>
                <button class="rectangle-btn" aria-label="Aufgabe hinzufügen">Hinzufügen</button>
              </form>
              <button class="rectangle-secondary-btn mt-1" aria-label="Abbrechen"
                onclick="closeToDoForm()">Abbrechen</button>
            </div>

          </div>

          <ul class="items-ul">
            <% foundProject.todos.forEach((todo) => { %>
            <div class="listen-item">
              <li class="<%= todo.completed ? "completed" : "" %>">
                <label for="todo-checkbox-<%=todo._id %>" class="checkbox-label">
                  <input type="checkbox" id="todo-checkbox-<%=todo._id %>" class="todo-checkbox"
                    <% if (todo.completed) { %> checked <% } %>
                    onchange="toggleCompleted('<%= foundProject._id %>', '<%= todo._id %>')" />
                  <span class="custom-checkbox"></span>
                  <span class="todo-text overflow-wrap-anywhere"><%= todo.text %></span>
                </label>
              </li>
              <!-- delete Todo button -->
              <form action="/projekte/<%=foundProject._id%>/aufgaben/<%=todo._id%>?_method=DELETE" method="POST"
                class="flex">
                <button class="delete-edit-btn" aria-label="Aufgabe löschen"><svg xmlns="http://www.w3.org/2000/svg"
                    width="20" height="20" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M7 21q-.825 0-1.413-.588T5 19V6q-.425 0-.713-.288T4 5q0-.425.288-.713T5 4h4q0-.425.288-.713T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5q0 .425-.288.713T19 6v13q0 .825-.588 1.413T17 21H7Zm5-7.1l1.9 1.9q.275.275.7.275t.7-.275q.275-.275.275-.7t-.275-.7l-1.9-1.9l1.9-1.9q.275-.275.275-.7t-.275-.7q-.275-.275-.7-.275t-.7.275L12 11.1l-1.9-1.9q-.275-.275-.7-.275t-.7.275q-.275.275-.275.7t.275.7l1.9 1.9l-1.9 1.9q-.275.275-.275.7t.275.7q.275.275.7.275t.7-.275l1.9-1.9Z" />
                  </svg>
                </button>
              </form>
            </div>
            <% }); %>
          </ul>

          <% if (foundProject.todos.length > 0) { %>
          <form action="/projekte/<%=foundProject._id%>/aufgaben?_method=DELETE" method="POST">
            <button class="remove-all-btn mt-2" aria-label="Aufgaben löschen">Aufgaben löschen</button>
          </form>
          <% } %>
        </section>

        <!-- BUDGET -->
        <section class="wrapper medium-dark-wrapper" id="budget-section">

          <div class="listen-buttons-wrapper">
            <!-- Delete Budget Button -->
            <form action="/projekte/<%=foundProject._id%>/budget?_method=DELETE" method="POST" class="flex">
              <button class="delete-edit-btn" aria-label="Budget löschen"><svg
                  xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                  <path fill="currentColor"
                    d="M7 21q-.825 0-1.413-.588T5 19V6q-.425 0-.713-.288T4 5q0-.425.288-.713T5 4h4q0-.425.288-.713T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5q0 .425-.288.713T19 6v13q0 .825-.588 1.413T17 21H7Zm5-7.1l1.9 1.9q.275.275.7.275t.7-.275q.275-.275.275-.7t-.275-.7l-1.9-1.9l1.9-1.9q.275-.275.275-.7t-.275-.7q-.275-.275-.7-.275t-.7.275L12 11.1l-1.9-1.9q-.275-.275-.7-.275t-.7.275q-.275.275-.275.7t.275.7l1.9 1.9l-1.9 1.9q-.275.275-.275.7t.275.7q.275.275.7.275t.7-.275l1.9-1.9Z" />
                </svg></button>
            </form>
            <!-- Edit Budget Button -->
            <button class="delete-edit-btn" id="edit-budget-btn" aria-label="Budget editieren">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="m14.06 9l.94.94L5.92 19H5v-.92L14.06 9m3.6-6c-.25 0-.51.1-.7.29l-1.83 1.83l3.75 3.75l1.83-1.83c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29m-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75Z" />
              </svg>
            </button>
          </div>

          <h2 class="subtitle-specific">Budget</h2>

          <div class="add-item-container">
            <% if (!foundProject.projectbudget) { %>
            <!-- Button to open "Add Budget" form -->
            <button class="round-btn" id="add-budget-btn" aria-label="Budget hinzufügen"><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 20">
                <path fill="currentColor"
                  d="M11 9V5H9v4H5v2h4v4h2v-4h4V9h-4zm-1 11a10 10 0 1 1 0-20a10 10 0 0 1 0 20z" />
              </svg>Budget erstellen</button>
            <!-- Add Budget form -->
            <form action="/projekte/<%= foundProject._id %>/budget" method="POST">
              <div class="new-item-container" id="new-projectbudget-container">
                <input type="number" name="projectBudget" id="projectbudget-input"
                  placeholder="Budgetbetrag hier eingeben..." class="input" step="any" required>
                <button class="rectangle-btn" aria-label="Budget erstellen">Erstellen</button>
              </div>
            </form>
            <% } else {%>
            <!-- Edit Budget Form -->
            <form action="/projekte/<%= foundProject._id %>/budget/bearbeiten/<%=foundProject.projectbudget._id  %>"
              method="POST" class="mt-2">
              <div class="new-item-container" id="edit-projectbudget-container">
                <label for="edit-projectbudget-input" class="input-label">Budgetbetrag:</label><br>
                <input type="number" name="newProjectBudget" id="edit-projectbudget-input"
                  placeholder="Budgetbetrag hier eingeben..."
                  value="<%=foundProject.projectbudget.projectBudget.toFixed(2)%>" class="input" step="any" required>
                <button class="rectangle-btn" aria-label="Budget speichern">Speichern</button>
              </div>
            </form>
            <!-- Budget Table -->
            <table class="budget-table mt-2 mb-1">
              <tr>
                <th class="table-align-left bold">Budget</th>
                <th class="table-align-right bold">Verbleibend</th>
              </tr>
              <tr>
                <td class="table-align-left">CHF <%= foundProject.projectbudget.projectBudget.toFixed(2) %></td>
                <td
                  class="table-align-right <%= foundProject.projectbudget.remainingProjectBudget.toFixed(2) >= 0 ? "positive-remaining-budget" : "negative-remaining-budget" %>">
                  CHF
                  <%= foundProject.projectbudget.remainingProjectBudget.toFixed(2) %></td>
              </tr>
            </table>

            <!-- Transactions-Table -->
            <table class="transactions-table mt-1">
              <tr>
                <th class="table-align-left bold">Beschreibung</th>
                <th class="table-align-right bold">Betrag</th>
              </tr>

              <% foundProject.projectbudget.projectTransactions.forEach((transaction) => { %>
              <tr>
                <td class="table-align-left table-border"><%= transaction.projectTransactionDescription %>
                  <br><span class="expense-date"><%= formatDate(transaction.projectTransactionDate) %></span>
                </td>
                <td class="table-align-right table-align-top table-border">
                  <%= transaction.projectTransactionType === "revenue" ? "+" : "-" %> CHF
                  <%= transaction.projectTransactionAmount.toFixed(2)%>
                  &nbsp;
                  <form action="/projekte/<%=foundProject._id%>/budget/transaction/<%=transaction._id%>?_method=DELETE"
                    method="POST" class="transaction-delete-form">
                    <button class="delete-edit-btn" aria-label="Ausgabe löschen"><svg xmlns="http://www.w3.org/2000/svg"
                        width="20" height="20" viewBox="0 0 24 24">
                        <path fill="currentColor"
                          d="M7 21q-.825 0-1.413-.588T5 19V6q-.425 0-.713-.288T4 5q0-.425.288-.713T5 4h4q0-.425.288-.713T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5q0 .425-.288.713T19 6v13q0 .825-.588 1.413T17 21H7Zm5-7.1l1.9 1.9q.275.275.7.275t.7-.275q.275-.275.275-.7t-.275-.7l-1.9-1.9l1.9-1.9q.275-.275.275-.7t-.275-.7q-.275-.275-.7-.275t-.7.275L12 11.1l-1.9-1.9q-.275-.275-.7-.275t-.7.275q-.275.275-.275.7t.275.7l1.9 1.9l-1.9 1.9q-.275.275-.275.7t.275.7q.275.275.7.275t.7-.275l1.9-1.9Z" />
                      </svg></button>
                  </form>
                </td>
              </tr>
              <% }) %>
            </table>

            <!-- Add Transaction Button -->
            <button class="round-btn mt-1" id="add-transaction-btn" aria-label="Ausgabe hinzufügen"><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 20">
                <path fill="currentColor"
                  d="M11 9V5H9v4H5v2h4v4h2v-4h4V9h-4zm-1 11a10 10 0 1 1 0-20a10 10 0 0 1 0 20z" />
              </svg> Ausgabe / Einnahme hinzufügen
            </button>

            <!-- Add Transaction Form -->
            <div class="new-item-container" id="new-transaction-container">
              <form action="/projekte/<%=foundProject._id%>/budget/transaction" method="POST">

                <div class="radio-input-container">
                  <label class="radio-input">
                    <input type="radio" name="projectTransactionType" value="expense" checked>
                    Ausgabe
                  </label>
                  <label class="radio-input">
                    <input type="radio" name="projectTransactionType" value="revenue">
                    Einnahme
                  </label>
                </div>

                <label for="projectTransactionDate">
                  <input type="date" name="projectTransactionDate" id="projectTransactionDate" class="input"
                    max="9999-12-31" required>
                </label>
                <label for="projectTransactionDescription">
                  <input type="text" name="projectTransactionDescription" placeholder="Beschreibung..."
                    id="projectTransactionDescription" class="input" required>
                </label>
                <label for="projectTransactionAmount">
                  <input type="number" name="projectTransactionAmount" id="projectTransactionAmount" class="input"
                    placeholder="Betrag..." step="any" required>
                </label>
                <button class="rectangle-btn" aria-label="Transaktion hinzufügen">Hinzufügen</button>
              </form>
              <button class="rectangle-secondary-btn mt-1" aria-label="abbrechen"
                onclick="closeTransactionForm()">Abbrechen</button>
            </div>

            <% } %>
          </div>
        </section>

        <!-- link to go back -->
        <div class="text-center">
          <a href="/projekte" class="page-navigation-link"><svg xmlns="http://www.w3.org/2000/svg" width="24"
              height="24" viewBox="0 0 24 24" class="page-navigation-svg">
              <g transform="rotate(180 12 12)">
                <path fill="currentColor" d="M8.59 16.58L13.17 12L8.59 7.41L10 6l6 6l-6 6l-1.41-1.42Z" />
              </g>
            </svg>Alle Projekte</a>
        </div>

    </main>

    <%- include("../partials/footer") %>
  </div>

  <script src="/JS/handleToDos.js"></script>
  <script src="/JS/handleProjectBudget.js"></script>
</body>

</html>