<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/style.css">
  <title>Notizen</title>
</head>

<body>

  <div class="main-layout">

    <%- include("../partials/header") %>

    <main>
      <div class="container">


        <% if(error && error.length) {%>
        <div class="alert alert-error" role="alert">
          <%= error %>
        </div>
        <% } %>

        <h1 class="title">Notizen</h1>

        <!-- Searchbar -->
        <form action="/notizen/suchen" role="search" method="POST">
          <label for="searchbar">
          <input type="search" name="searchTerm" id="searchbar" placeholder="Notiz suchen..." class="search-input container"
            aria-label="Search">
          </label>
        </form>

        <!-- Add new note button -->
        <button class="round-btn mb-05"><a href="/notizen/neue-notiz"><svg xmlns="http://www.w3.org/2000/svg" width="30"
              height="30" viewBox="0 0 20 20">
              <path fill="currentColor" d="M11 9V5H9v4H5v2h4v4h2v-4h4V9h-4zm-1 11a10 10 0 1 1 0-20a10 10 0 0 1 0 20z" />
            </svg></a></button>

        <div class="notes-container mt-1">
          <% notes.forEach(note => { %>
          <a href="/notizen/<%=note._id %>" class="note-link">
            <div class="note-wrapper">
              <h2 class="subtitle-specific-notcentered"><%= note.title %></h2>
              <p class="formatted-textarea"><%= note.body %></p>
            </div>
          </a>

          <% }); %>


        </div>

        <!-- Pagination Links -->
        <div class="container pagination-wrapper text-center mt-2">
            <% if (currentPage > 1) { %>
          <a href="?page=<%= currentPage - 1 %>" class="pagination-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g transform="rotate(180 12 12)"><path fill="currentColor" d="M8.59 16.58L13.17 12L8.59 7.41L10 6l6 6l-6 6l-1.41-1.42Z"/></g></svg></a>
            <span class="pagination"><%= currentPage - 1%></span>
          <span class="active-page"><%= currentPage %></span>
          <% } %>
          <% if (currentPage > 1 && currentPage < pages) { %>
            <!-- <span class="active-page"><%= currentPage %></span> -->
            <span class="pagination"><%= currentPage + 1%></span>
            <a href="?page=<%= currentPage + 1 %>" class="pagination-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M8.59 16.58L13.17 12L8.59 7.41L10 6l6 6l-6 6l-1.41-1.42Z"/></svg></a>
            <% } %>
            <% if (currentPage === 1 && pages > 1) { %>
              <span class="active-page"><%= currentPage %></span>
              <span class="pagination"><%= currentPage + 1%></span>
            <a href="?page=<%= currentPage + 1 %>" class="pagination-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M8.59 16.58L13.17 12L8.59 7.41L10 6l6 6l-6 6l-1.41-1.42Z"/></svg></a>
            <% } %>
        </div>

      </div>
    </main>

    <%- include("../partials/footer") %>
  </div>

</body>

</html>