<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Nathalie Giancaspro">
  <meta name="description"
    content="MeinOrganizer - mit dieser Web App kannst du Listen erstellen, Notizen festhalten, Budgets verwalten, Projekte organisieren, Termine in den Kalender eintragen und deine Produktivität steigern mit dem Pomodoro Fokus-Timer.">
  <meta property="og:title" content="MeinOrganizer - Vereinfache dein Leben und bleibe organisiert">
  <meta property="og:type" content="website">
  <meta property="og:description"
    content="MeinOrganizer - mit dieser Web App kannst du Listen erstellen, Notizen festhalten, Budgets verwalten, Projekte organisieren, Termine in den Kalender eintragen und deine Produktivität steigern mit dem Pomodoro Fokus-Timer.">
  <meta property="og:url" content="https://meinorganizer.app">
  <meta property="og:image" content="https://meinorganizer.app/images/MeinOrganizer_Logo.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">
  <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#03dac5">
  <meta name="msapplication-TileColor" content="#121212">
  <meta name="theme-color" content="#121212">
  <meta name="apple-mobile-web-app-title" content="https://meinorganizer.app">
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="application-name" content="MeinOrganizer">
  <link rel="stylesheet" href="/CSS/style.css">
  <title>Benutzerkonto bearbeiten</title>
</head>

<body>

  <div class="main-layout">

    <%- include("../partials/header") %>

    <main>
      <div class="container">

        <!-- flash message -->
        <% if(error && error.length) {%>
        <div class="alert alert-error" role="alert">
          <%= error %>
        </div>
        <% } else if(success && success.length){ %>
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
        <% } %>

        <div class="card-wrapper medium-dark-wrapper">
          <h1 class="subtitle">Password ändern</h1>


          <form action="/benutzerkonto/<%=foundUser._id%>/passwort" method="POST">

            <fieldset class="input-container">
              <input type="password" id="old-password" name="oldPassword" required class="login-input" placeholder="">
              <!-- <button id="toggle-password" aria-label="Show password">
                  <svg id="toggle-icon" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M11.83 9L15 12.16V12a3 3 0 0 0-3-3h-.17m-4.3.8l1.55 1.55c-.05.21-.08.42-.08.65a3 3 0 0 0 3 3c.22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53a5 5 0 0 1-5-5c0-.79.2-1.53.53-2.2M2 4.27l2.28 2.28l.45.45C3.08 8.3 1.78 10 1 12c1.73 4.39 6 7.5 11 7.5c1.55 0 3.03-.3 4.38-.84l.43.42L19.73 22L21 20.73L3.27 3M12 7a5 5 0 0 1 5 5c0 .64-.13 1.26-.36 1.82l2.93 2.93c1.5-1.25 2.7-2.89 3.43-4.75c-1.73-4.39-6-7.5-11-7.5c-1.4 0-2.74.25-4 .7l2.17 2.15C10.74 7.13 11.35 7 12 7Z" />
                  </svg>
                </button> -->
              <label for="old-password" class="form-label">Aktuelles Passwort</label>
            </fieldset>

            <fieldset class="input-container">
              <input type="password" id="password" name="newPassword" required class="login-input" placeholder="">
              <button id="toggle-password" aria-label="Show password">
                <svg id="toggle-icon" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
                  <path fill="currentColor"
                    d="M11.83 9L15 12.16V12a3 3 0 0 0-3-3h-.17m-4.3.8l1.55 1.55c-.05.21-.08.42-.08.65a3 3 0 0 0 3 3c.22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53a5 5 0 0 1-5-5c0-.79.2-1.53.53-2.2M2 4.27l2.28 2.28l.45.45C3.08 8.3 1.78 10 1 12c1.73 4.39 6 7.5 11 7.5c1.55 0 3.03-.3 4.38-.84l.43.42L19.73 22L21 20.73L3.27 3M12 7a5 5 0 0 1 5 5c0 .64-.13 1.26-.36 1.82l2.93 2.93c1.5-1.25 2.7-2.89 3.43-4.75c-1.73-4.39-6-7.5-11-7.5c-1.4 0-2.74.25-4 .7l2.17 2.15C10.74 7.13 11.35 7 12 7Z" />
                </svg>
              </button>
              <label for="password" class="form-label">Neues Passwort</label>
            </fieldset>

            <button class="<%= foundUser.isDemo ? "rectangle-btn-card-disabled" : "rectangle-btn-card" %> mb-1 mt-2" <% if (foundUser.isDemo) { %>disabled<% } %>>Neues Passwort speichern</button>
            <a href="/benutzerkonto/<%=foundUser._id%>" class="rectangle-secondary-btn-card width-100">Abbrechen</a>
          </form>
        </div>

    </main>

    <%- include("../partials/footer") %>
  </div>

  <script src="/JS/togglePassword.js"></script>
</body>

</html>