<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/style.css">
  <title>Benutzerkonto bearbeiten</title>
</head>

<body>

  <div class="main-layout">

    <%- include("../partials/header") %>

    <main>
      <div class="container">

        <!-- flash message -->
        <% if(error && error.length) {%>
        <div class="alert alert-error" role="alert">
          <%= error %>
        </div>
        <% } else if(success){ %>
        <div class="" role="alert">
          <%= success %>
        </div>
        <% } %>

        <div class="card-wrapper medium-dark-wrapper">
          <h1 class="subtitle">Daten bearbeiten</h1>

          <form action="/benutzerkonto/<%=foundUser._id%>?_method=PUT" method="POST">

            <div class="input-container mb-2">
              <label for="username" class="form-label">Benutzername</label>
              <input type="username" id="username" name="username" autofocus required class="login-input"
                value="<%=foundUser.username%>">
            </div>

            <button class="rectangle-btn-card mb-1">Speichern</button>
            <a href="/benutzerkonto/<%=foundUser._id%>" class="rectangle-secondary-btn-card width-100">Abbrechen</a>
          </form>
        </div>

    </main>

    <%- include("../partials/footer") %>
  </div>

</body>

</html>